@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800&display=swap');
body, html{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
}
p{
    font-weight: bold;
    font-size: 30px;
    margin: 30px 0;
}

h1{
    font-weight: 800;
    font-size: 50px;
}
h2{
    font-weight: 800;
    font-size: 50px;
}
h3{
    font-weight: bold;
    font-size: 30px;
}
h4{
font-weight: bold;
font-size: 20px;
}
.hero-banner h4,
.hero-banner h4 a{
    color: white;
    margin: 0;
}
.hero-banner h1{
    color: white;
    margin: 14px 0 20px;
}
.hero-banner h3{
    color: white;
    margin: 0 0 35px;
}
.hero-banner{
 background-color: #007FFF;
 min-height: 100vh;
 padding: 0 20px;
 box-sizing: border-box;
 position: relative;
 overflow: hidden;
 

}
.wrapper{
width: 960px;
margin: 0 auto;
}
a.cta,
button.cta{
    font-size: 30px;
    font-weight: bold;
    color: white;
    background: #007FFF;
    display: inline-block;
    box-shadow: 0 0 0 10px  rgba(0,127,255,.15);
    padding: 20px 30px;
    border-radius: 10px;
    text-decoration: none;


}
a.cta.alt,
button.cta.alt{
    background-color: #FFD400;
    color: #111111;
    box-shadow: 0 0 0 10px  rgba(0,127,255,.15);
    
}
.character1{
    background: url(img/red-circle-guy.png) no-repeat 0 0 ;
    background-size: 80%;
    width: 363px;
    height: 344px;
    position: absolute; top: 117px; right: 15px;
    
}
.character2{
    background: url(img/character2.png) no-repeat 0 0 ;
    background-size: 100%;
    width: 309px;
    height: 371px;
    position: absolute; top: 213px; right: 250px;
}
.character3{
    background: url(img/character3.png) no-repeat 0 0 ;
    background-size: 70%;
    width: 297;
    height: 286px;
    position: absolute; bottom: 74px; right: 10px;
    transform: rotate(30deg);
}
nav{
    height: 100px;
    background-color: white;
    box-shadow: 0 5px 8px rgba(0,0,0,.2);  
    position: sticky;  
    top: 0;
}
nav .logo {
    display: block;
    width: 300px;
    height: 40px;
    position: absolute; top: 50%; left: 0;
    margin-top: -20px;
    margin-left: 30px;
    background: url(img/logo.png) no-repeat 0 0;
    background-size: 70%;
    overflow: hidden;
    text-indent: -999px;
}

nav ul{
    padding: 0;
    margin: 0;
    margin: 0 20px 0 0;
}
nav ul li{
    margin: 0;
    padding: 0;
    display: block;
    float: right;
}
nav ul li a{
    display: block;
    height: 100%;
    box-sizing: border-box;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: #111111;
    text-decoration: none;
    padding: 35px;
    line-height: 30px;
    
}
.more-info p{
    margin: 18px 0 35px;
}
.more-info h2{
    margin: 50px 0 0;
}
.more-info{
    text-align: center;
}
.highlight{
    background-color: #FFADF9;
    color:#FF3300;
    padding:1px;
    line-height: 50px;
    display: inline;
    border-radius: 10px;
    font-weight: bold;
}

/* 
<div class="more-info" id="more-info">
        <h2>Join Our Fan Club</h2>
        <p>
            Every week we have <span class="highlight">a party.</span>If you want to join us join our fan club.
            Members will also receives pictures of us in all king of shapes and sizes.Cool huh!
        </p>
        <button class="cta">Sign Me Up</button>

    </div>


*/